<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <h6>visits{{session['count']}}</h6>
    <form action="/counting" method="post">

        <button type="submit" name="click" value="add">count</button>
        <button type="submit" name="click" value="reset">reset</button>

    </form>

</body>
</html>